<div class="card-container">
  <div class="card">
    <div class="img">
      <img src="profile-2.jpeg" />
    </div>
    <div class="top-text">
      <div class="name">
        Annie Lea
      </div>
      <p>
        Apps Developer
      </p>
    </div>
    <div class="bottom-text">
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
        quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima
        reiciendis magni quam!
      </div>
      <div class="btn">
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
</div>
