<div class="card-container">
  <div class="card">
    <div class="img">
      <a href="/home">
        <img
          [src]="category.imageUrl"
          [alt]="category.imageText"
        />
      </a>
    </div>
    <a
      class="picture-link"
      [href]="category.imageLink"
      target="_blank"
    >
      {{ category.imageText }}
    </a>
    <div class="top-text">
      <div class="name">
        {{ category.title }}
      </div>
      <p>{{ category.type }}</p>
    </div>
    <div class="bottom-text">
      <div class="text">
        {{ category.description }}
      </div>
      <div class="btn">
        <a href="/home">Leer más</a>
      </div>
    </div>
  </div>
</div>
