<div class="card-container">
  <div class="card">
    <div class="img">
      <a href="/home">
        <img
          [src]="info.imageUrl"
          [alt]="info.imageText"
        />
      </a>
    </div>
    <a
      class="picture-link"
      [href]="info.imageLink"
      target="_blank"
    >
      {{ info.imageText }}
    </a>
    <div class="top-text">
      <div class="name">
        {{ info.title }}
      </div>
      <p>{{ info.category }}</p>
    </div>
    <div class="bottom-text">
      <div class="text">
        {{ info.description }}
      </div>
      <div class="btn">
        <a href="/home">Read more</a>
      </div>
    </div>
  </div>
</div>
