span {
  color: var(--primary-color);
}

hr {
  border: none;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../../../assets/images/pexels-pixabay-34521.jpg);
  color: var(--secondary-color);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: left;
  padding-top: 10%;
  padding-left: 10%;
}

.banner-title {
  color: black;
}

.banner-title h1 {
  font-size: 58px;
}

.banner a {
  /* border: 3px solid #000; */
  border-radius: 20px;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  display: inline-block;
  color: #000;
  font-size: 1rem;
  background-color: var(--primary-color);
}

.banner a:hover {
  color: #fff;
  cursor: pointer;
}

.banner-after {
  transition: 1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(../../../assets/images/pexels-pixabay-34521.jpg);
  padding: 5%;
  height: 10%;
}

.banner-after-btn {
  position: absolute;
  left: -1000px;
  transition: 0.3s;
}

@media (max-width: 927px) {
  .banner-title h1 {
    font-size: 48px;
  }
}
