<!-- <div class="side_toggle" id="side-toggle">
  <a><i class="bx bx-menu"></i></a>
</div> -->

<div
  *ngIf="article.sections.length > 0 else elseBlock"
  id="mySidebar"
  class="sidebar"
>
  <a class="closebtn" (click)="closeNav()">×</a>
  <a
    *ngFor="let section of article.sections"
    (click)="scroll(section.id)"
    routerLinkActive="active"
    >{{ section.title }}</a
  >
</div>

<div id="main">
  <button
    *ngIf="article.sections.length > 0"
    class="openbtn"
    (click)="openNav()"
  >
    ☰ Ver secciones
  </button>
  <article *ngIf="article.sections.length > 0">
    <header>
      <h1 class="main_title">{{ article.title }}</h1>
    </header>
    <div
      *ngFor="let section of article.sections"
      class="section"
      [id]="section.id"
    >
      <section>
        <h2>{{ section.title }}</h2>
        <p>{{ section.content }}</p>
      </section>
    </div>
  </article>
</div>

<ng-template #elseBlock>
  <div class="content">
    <div class="header">
      {{ article.title }}
    </div>
    <div class="header">
      No hay contenido disponible
    </div>
    <p>
      Por favor espere a que agregemos mas informacion a esta página
    </p>
  </div>
</ng-template>
