<header>
  <div class="container">
    <input type="checkbox" name="" id="check" />

    <div class="logo-container">
      <h3 class="logo" >
        <a  (click)="navigateTo('top')">
          {{ title }}
        </a>
      </h3>
    </div>

    <div class="nav-btn">
      <div class="nav-links">
        <ul>
          <!-- INICIO  -->
          <li class="nav-link" style="--i: 0.5s;"><a (click)="navigateTo('top')">Inicio</a></li>
          <!-- Las Bases -->
          <li class="nav-link" style="--i: 0.65s;">
            <a href="#">Las Bases<i class="bx bx-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link"><a href="#">Álgebra</a></li>
                <li class="dropdown-link">
                  <a href="#">Cálculo<i class="bx bx-caret-down"></i></a>
                  <div class="dropdown second">
                    <ul>
                      <li class="dropdown-link">
                        <a href="#">Cálculo Diferencial</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="#">Cálculo Integral</a>
                      </li>
                      <li class="dropdown-link">
                        <a href="#">Cálculo Vectorial</a>
                      </li>
                      <div class="arrow"></div>
                    </ul>
                  </div>
                </li>
                <li class="dropdown-link"><a href="#">Álgebra Lineal</a></li>
                <li class="dropdown-link"><a href="#">Estádistica</a></li>
                <li class="dropdown-link">
                  <a href="#">Ecuaciones Diferenciales</a>
                </li>
                <li class="dropdown-link"><a href="#">Métodos Númericos</a></li>
                <li class="dropdown-link"><a href="#">Números Complejos</a></li>
                <li class="dropdown-link"><a href="#">Laplace</a></li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <!-- MECANICA -->
          <li class="nav-link" style="--i: 0.8s;">
            <a href="#">Mecánica<i class="bx bx-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link"><a href="#">Estática</a></li>
                <li class="dropdown-link"><a href="#">Dinámica</a></li>
                <li class="dropdown-link"><a href="#">Termodinámica</a></li>
                <li class="dropdown-link">
                  <a href="#">Mecánica de Materiales</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Ciencia e Ingeniería de Materiales</a>
                </li>
                <li class="dropdown-link"><a href="#">Mecanismos</a></li>
                <li class="dropdown-link"><a href="#">Vibraciones</a></li>
                <li class="dropdown-link">
                  <a href="#">Diseño de Elementos Mecánicos</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Análisis de Fluidos</a>
                </li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <!-- PROGRAMACION -->
          <li class="nav-link" style="--i: .95s;">
            <a href="#">Programación<i class="bx bx-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link"><a href="#">C#</a></li>
                <li class="dropdown-link"><a href="#">Java</a></li>
                <li class="dropdown-link"><a href="#">Python</a></li>
                <li class="dropdown-link"><a href="#">JavaScript</a></li>
                <li class="dropdown-link"><a href="#">C++</a></li>
                <li class="dropdown-link"><a href="#">C</a></li>
                <li class="dropdown-link"><a href="#">Ensamblador</a></li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <!-- ELECTRONICA -->
          <li class="nav-link" style="--i: 1.1s;">
            <a href="#">Electrónica<i class="bx bx-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link"><a href="#">Electromagnetismo</a></li>
                <li class="dropdown-link">
                  <a href="#">Máquinas Eléctricas</a>
                </li>
                <li class="dropdown-link"><a href="#">Circuitos E.</a></li>
                <li class="dropdown-link">
                  <a href="#">Electrónica Digital</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Electrónica Analógica</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Electrónica de Potencia</a>
                </li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <!-- CONTROL -->
          <li class="nav-link" style="--i: 1.25s;">
            <a href="#">Control<i class="bx bx-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link">
                  <a href="#">Dinámica de Sistemas</a>
                </li>
                <li class="dropdown-link"><a href="#">Control Continuo</a></li>
                <li class="dropdown-link"><a href="#">Control Discreto</a></li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <!-- MECATRONICA -->
          <li class="nav-link" style="--i: 1.4s;">
            <a href="#">Mecatrónica<i class="bx bx-caret-down"></i></a>
            <div class="dropdown">
              <ul>
                <li class="dropdown-link"><a href="#">Dibujo CAD</a></li>
                <li class="dropdown-link">
                  <a href="#">Procesos de Fabricación</a>
                </li>
                <li class="dropdown-link">
                  <a href="#">Manufactura Avanzada</a>
                </li>
                <li class="dropdown-link"><a href="#">Mantenimiento</a></li>
                <li class="dropdown-link"><a href="#">Instrumentación</a></li>
                <li class="dropdown-link"><a href="#">Neumática</a></li>
                <li class="dropdown-link">
                  <a href="#">Microcontroladores</a>
                </li>
                <li class="dropdown-link"><a href="#">PLC</a></li>
                <li class="dropdown-link"><a href="#">Robótica</a></li>
                <div class="arrow"></div>
              </ul>
            </div>
          </li>
          <!-- <li class="nav-link" style="--i: 1.35s;">
            <a href="#">About</a>
          </li> -->
        </ul>
      </div>

      <!-- <div class="log-sign" style="--i: 1.8s;">
        <a href="#" class="btn transparent">Log in</a>
        <a href="#" class="btn solid">Sign up</a>
      </div> -->
    </div>

    <div class="hamburger-menu-container">
      <div class="hamburger-menu">
        <div></div>
      </div>
    </div>
  </div>
</header>
