.cards-container {
  margin: 2rem auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 0.5fr));
  gap: 10px;
  padding: 0.2rem 0.2rem;
  /* padding: auto; */
}

@media (max-width: 900px) {
  .cards-container {
    display: inline;
  }
}
