.cards-container {
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 0.5fr));
  gap: 5px;
  padding: 0.2rem 0.2rem;
  /* padding: auto; */
}

@media (max-width: 900px) {
  .cards-container {
    display: inline;
  }
}
