.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#showcase {
  min-height: 400px;
  /* background:url('../../../assets/images/cards/lasbases.jpg') no-repeat 0 -400px; */
  text-align: center;
  color: #fff;
  text-shadow: 10px 3px 10px #000;
  font-size: medium;
  font-weight: bold;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

.shadow {
  color: var(--primary-color);
  text-shadow: 1px 1px #393e46, 2px 2px #393e46, 3px 3px #393e46;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -ms-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
  transition: all 0.12s ease-out;
}
.shadow:hover {
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px #393e46, 2px 2px #393e46, 3px 3px #393e46,
    4px 4px #222831, 5px 5px #222831, 6px 6px #222831;
}
