<section id="showcase" style="
  background:url('{{ category.imageUrl }}');
  background-size: cover;
  background-position: center center;
  filter: grayscale(30%);">
  <div class="container">
    <h1 class="shadow">{{ category.title }}</h1>
    <p>{{ category.description }}</p>
  </div>
</section>

<section class="card-list">

  <article class="card" *ngFor="let article of category.articles">
    <header class="card-header">
      <p>{{ article.type }}</p>
      <h2>{{ article.title }}</h2>
    </header>

    <p class="card-description">{{ article.description }}</p>

    <div class="tags">
      <a [href]="article.descriptionLink">Definicion</a>
    </div>
  </article>
</section>
